$blue: darkslateblue;
$bg-body: antiquewhite;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

// A general comment that should be
// stripped out in production
body {
  color: $blue;
  background-color: $bg-body;
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  max-width: 60rem;
  margin: 0 auto;
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-grow: 1;

  img {
    width: 6rem;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr auto;

  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;

    > * + * {
      margin-left: 1rem;
    }
  }
}

footer {
  grid-area: footer;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  fill: currentColor;
  pointer-events: none;
}
